.head {
	background-color: #d0ff00;
	height: 175px;
}

.content {
	background-color: #d0ff00;
	height: 250px;
	width: 953px;

	left: 0px;
	right: 0px;
	bottom: 0px;
	top:0px;
}

.sidebar {
	background-color: #d0ff00;
	height : 250px;
	width : 225px;
}


.contacts {
	background-color: #d0ff00;
	height: 150px;

}

.clan{
	border: 4px double black;
	padding: 10px ;
}
