.register {
	background-color: #6fd166;
	width : 225px;
	height : 350px;
}

.head {
	background-color: #6fd166;
}

.content {
	background-color: #6fd166;
}

.sidebar {
	background-color: #6fd166;
}


.contacts {
	background-color: #6fd166;
