.register {
	background-color: #d0ff00;
	width : 225px;
	height : 350px;
}

.head {
	background-color: #d0ff00;
}

.content {
	background-color: #d0ff00;
}

.sidebar {
	background-color: #d0ff00;
}


.contacts {
	background-color: #d0ff00;
