
.content {
	height: 950px;
	width: 953px;

	left: 0px;
	right: 0px;
	bottom: 0px;
	top:0px;
}

.sidebar {
	height : 250px;
	width : 225px;
}


.contacts {
	height: 150px;

}

.lot{
	border: 4px double black;
	padding: 10px ;
}
